html {
    background: white;
    margin: 0% 0%;
    overflow-x: hidden;
    padding: 0px;
}

body {
    height: 100%;
    margin: 0% 0%;
    padding: 0px;
    width: 100%;
}

.tab {
    background: #ccc;
    margin: 0% 0%;
    max-height: 2em;
    overflow: hidden;
    padding: 0px;
    width: 100%;
}

.tab button {
    background: inherit;
    border: none;
    cursor: pointer;
    display: block;
    float: left;
    font-size: 13px;
    margin: 0% 0%;
    outline: none;
    padding: 0px;
    text-align: center;
    transition: 0.3s;
    width: 25vw;
}

.tab button:hover {
    background: #ddd;
}

.tab button.active {
    background: #f1f1f1;
}

.tab-links {
    behavior: clickable;
}

.tab-content {
    background: #f1f1f1;
    display: none;
    padding: 6px 12px;
    height: 100%;
}
